$pageWidth:1170px;
$navHeight:64px;
$mainBoxWidth:798px;
$sidebarWidth:356px;
$bannerWidth:$mainBoxWidth;
$bannerHeight:202px;
$themeColor:#5c87d9;
$mainFontColor:#212121;
$assistFontColor:#878787;
$lineColor:#eee;
$newsInfoHeight:28px;
$courseNavHeight:54px;
$courseItemHeight:280px;
$thumbnailHeight:158px;
$payColor:#f76363;
$freeColor:#7ed321;
